
nav {
    width:100%;
}
nav a:link, nav a:visited {
    color:mediumblue;
    background-color: #fafafa;
}
nav a:focus, nav a:hover {
    background-color: #a9a9a9;
    color:#fff;
}
nav a:active{
    color:#fff;
    background-color: #696969;
}

#hamburger {
    display: none;
}

nav {
    top: 0px;
    width:90%;
  
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown{
    display: none
}
nav>ul li {
    position: relative; 
    text-align: center;
    color: mediumblue;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    width: 150px; 
    margin: 2px;
}

nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}

nav>ul>li:hover>ul{
    display: block;
}
@media only screen and (max-width: 640px) {
	header {
		position: relative;
        height: 60px;
        display: block;
        background-color: #a9a9a9;
        width: 100%;        
    }
    nav{
        position: relative;
    }
	#hamburger {
		display: inline-block;
        padding-left: 20px;
        width: 25px;
        float: left;
        font-size: 4em;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px 20px 20px 0px;
		top: 20px;
			}
	nav:hover ul {
		display: block;
	}
    nav:hover .dropdown {
		display: none;
	}
	nav li {
		text-align: center;
		padding: 0;
		margin: 0;
	}
    nav>ul li {
    text-align: left;
    color: #fff;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border-top: none;
    border-bottom: none;
    padding: 15px 15px 15px 35px;
    width: 240px;
    margin-bottom: 2px;
}
}