/*
************************************
Title:CSS Styling
Use: Style webpages
Author: Ethan Gosling
School/Term: University of Missouri, Spring 2020
Developed: April 4, 2020
Tested: May 8, 2020; Passed on Chrome and Firefox browers.
************************************
*/

body {
    background-color: #f1f1f1;
    padding: 15px;
    margin:auto;
    width:85%;
}

h1 {
    color:#ffffff;
    font-size:4em;
    font-family:paralucent, sans-serif;
    background-color: #3300cc;
    margin-top:1em;
    border-bottom:10px solid #000000;
    text-align: center;
    padding: 5px 0px 2px 0px;
    letter-spacing: 1px;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;
}
h3 {
    font-family:Arial, Helvetica, sans-serif;
    color:#3300cc;
    font-size:150%;
}
footer{
    font-size: 10pt;
    border-top: 1px solid #000000;
    padding:5px;
    clear:both;
  
}

 footer a:link {
    color:mediumblue;
}
footer a:hover{
    color:orange;
    }
footer a:focus{
    color:mediumblue;
}
footer a:visited{
    color:mediumpurple;
}
footer a:active{
    color:red;
}
footer a {text-decoration: none;
}
ul{
   font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
.iframe-container{
   position: relative;
    width:100%;
    padding-bottom:56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
#about{
    float:left;
    margin:20px;
   padding-right: 150px;
}
.portrait {
    float: left; 
    margin:15px 30px 15px 15px;
    padding:2em;
}

.footer
{
    display: inline-block;
    padding: 2px 0 0 0;
    margin: 3px 4px 0 4px;
    
}
.footer:hover {
    transform:  scale(1.5); 
    transition: 1s;
}
.new {
    color:green;
}
.old {
    color:#9900cc;
}

.masters {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
div h2{
    font-size:150%;
}
.bachelors {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
.work {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
#section1{
    border:2px solid #000;
    margin: 3em;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
#section2{
    border:2px solid #000;
    margin: 3em;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
#section3{
    border:2px solid #000;
    margin: 3em;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
.first::first-letter{
    font-size: 40px;
    color:green
}

.indent{
    text-indent: 50px;
}
table {
        width:100%;
        box-shadow:4px 4px 5px #000;
        border:.5px solid #000;
        margin-bottom: 1.5em;
        font-family:Arial, Helvetica, sans-serif;
}
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 15px;
align-content: center;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: aliceblue;
}
table th {
  color: #000;
}
    td{
        text-align: center;
    }
nav{
    width:100%;
}

.flex-container{
  display: flex;
  flex-flow:wrap;
    float: left;
    margin-bottom: 1em;
}

.flex-container > div {
    border:.5px solid #000;
  background-color: aliceblue;
  width: 325px;
  margin: 10px;
  line-height: 20px;
  font-size: 14px;
    box-shadow:4px 4px 5px #000;
    padding:1em;
}
/* form */
form{
    max-width: 400px;
    margin:auto;
    padding:20px;
}
input[type=text], select, textarea {
    width:100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
    float:left;
}

input[type=submit] {
  background-color: #a9a9a9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #696969;
}


@media screen and (max-width:959px){
    html{
        font-size:90%;
    }
    h1{
        font-size:2em;
    }
    h2{
        font-size: 130%;
    }
    div h2{
    font-size:130%;
}
    figcaption {
       text-align: left;
    }
   
    h3{
        font-size:125%;
    }
  
    .first::first-letter{
    font-size: 30px;
    color:green
}
table{
        display:block;
    width:70%;
    text-align: center;
    margin-left: 4em;
    } 
    table thead{
        display:block;
       
    }
    table .group2{
        display: none;
    }
    table th{
        display:block;
         position: relative;
    }
    table td{
        display: block;
         position: relative;
    }
    
    
}
@media print {
     
    nav {display: none;
    }
    .new{
        color:#000;
    }
    body {background-color: #000;
          margin: 15px auto;
          border: none;
          box-shadow: none;
          font-family: "arial", serif;}
    
    
    h1 {color: #000;        
        font-family: paralucent, sans-serif;
        font-style: normal;
        font-weight: 100;
    }
    h3 {color: #000;        
        }
    

    ul li {color: #000;
           }
        
    .portrait {filter: grayscale(100%);
         }   
        
    main p {color: #000;
            font-size: 14pt;}
    
    blockquote {color: #000;
                font-size: 12pt;}
    .flex-container > div {
   box-shadow:none;

}
    
div .experience {
   display:none;

}
   div .career {
   display:none;

} 

    .footer {display: none;}
    
    footer {color:#000;} 
    
    @page {margin: .25in;}
}