body {
    background-color: #fafafa;
    padding:15px;
}
h1 {
    color:#ffffff;
    font-size:30pt;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #3300cc;
    border-bottom:10px solid #000000;
    text-align: center;
    padding: 5px 0px 2px 0px;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
}
h3 {
    font-family:Arial, Helvetica, sans-serif;
    color:#3300cc;
    font-size:15pt;
}
footer{
    font-size: 10pt;
    border-top: 1px solid #000000;
    padding:5px;
}
a:link {
    color:mediumblue;
}
a:hover{
    color:orange;
    }
a:focus{
    color:mediumblue;
}
a:visited{
    color:mediumpurple;
}
a:active{
    color:red;
}
a {text-decoration: none;
}
ul{
   font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

img {
    float: right; 
    margin:15px 5px 15px 15px;
    padding:5px 15px 15px 15px;
}

.new {
    color:green;
}
.old {
    color:#7a6697;
}

.masters {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
.bachelors {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
.work {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}