/*
************************************
Title:CSS Styling
Use: Style webpages
Author: Ethan Gosling
School/Term: University of Missouri, Spring 2020
Developed: April 4, 2020
Tested: April 12, 2020; Passed on Chrome and Firefox browers.
************************************
*/

body {
    background-color: #fafafa;
    padding: 15px;
    margin:auto;
    width:85%;
}

h1 {
    color:#ffffff;
    font-size:4em;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #3300cc;
    margin-top:1em;
    border-bottom:10px solid #000000;
    text-align: center;
    padding: 5px 0px 2px 0px;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;
}
h3 {
    font-family:Arial, Helvetica, sans-serif;
    color:#3300cc;
    font-size:150%;
}
footer{
    font-size: 10pt;
    border-top: 1px solid #000000;
    padding:5px;
    clear:both;
}

 footer a:link {
    color:mediumblue;
}
footer a:hover{
    color:orange;
    }
footer a:focus{
    color:mediumblue;
}
footer a:visited{
    color:mediumpurple;
}
footer a:active{
    color:red;
}
footer a {text-decoration: none;
}
ul{
   font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
#about{
    float:left;
    margin:20px;
   padding-right: 150px;
}
img {
    float: left; 
    margin:15px 30px 15px 15px;
    padding:2em;
}

.new {
    color:green;
}
.old {
    color:#7a6697;
}

.masters {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
div h2{
    font-size:150%;
}
.bachelors {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}
.work {
    border:2px solid #000;
    padding:10px 20px;
    box-shadow:4px 4px 5px #000;
    background-color:aliceblue;
}

.first::first-letter{
    font-size: 40px;
    color:green
}

.indent{
    text-indent: 50px;
}

nav{
    width:100%;
}

.flex-container{
  display: flex;
  flex-flow:wrap;
    float: left;
    margin-bottom: 1em;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 350px;
  margin: 10px;
  line-height: 20px;
  font-size: 14px;
    box-shadow:4px 4px 5px #000;
    padding:1em;
}

@media screen and (max-width:959px){
    html{
        font-size:90%;
    }
    h1{
        font-size:2em;
    }
    h2{
        font-size: 130%;
    }
    div h2{
    font-size:130%;
}
    h3{
        font-size:125%;
    }
  
    .first::first-letter{
    font-size: 30px;
    color:green
}

}